.theme-container.dark {
	color: #DEEBF8;
	background-color: #1E4B7A;
}
.theme-container {
	color: #1E4B7A;
	background-color: #DEEBF8;
}

.hidden {
	/* Ska inte finnas i DOM */
	/* display: none; */

	/* Finns kvar osynligt, behåller sin plats */
	visibility: hidden;

	/* Elementet finns kvar, i princip synligt fast helt genomskinligt */
	/* opacity: 0; */
}