.product {
	border: 1px solid gray;
	padding: 1em;
	margin: 1em;
	color: #1E4B7A;
	background-color: #DEEBF8;
}

.product img {
	width: 10em;
}

.product-container {
	/* Alternativ för att visa flera produkter på en rad:
	grid, flexbox */
	display: grid;
	grid-template-columns: 1fr 1fr;
}